/* ===============================
   Instrumentos - Marcha Detail
   =============================== */

.marcha-instruments
{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* BOTONES */
.instrument-selector
{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.instrument-btn
{
    padding: 0.4rem 0.9rem;
    border: 1px solid #0b1a3d;
    background-color: white;
    color: #0b1a3d;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.15s ease;
}

.instrument-btn:hover
{
    background-color: #0b1a3d;
    color: white;
}

.instrument-btn.active
{
    background-color: #0b1a3d;
    color: #ffc107;
    border-color: #0b1a3d;
}

.instrument-btn:disabled
{
    opacity: 0.4;
    cursor: not-allowed;
}

/* VIDEO */
.instrument-video
{
    background-color: #000514;
    border-radius: 6px;
    padding: 2rem;

}

/* Placeholder sin video */
.video-empty
{
    background-color: #1a1a1a;
    color: #bbb;
    padding: 3rem;
    text-align: center;
    border-radius: 4px;
    margin-top: 1rem;
    box-shadow: inset;
}

/* From Uiverse.io by alshahwan */
/* From uiverse.io by @alshahwan */
.PartituraBTN
{
    background-color: #fff;
    border: 1px solid #aa8200;
    padding: 5px;
    position: relative;
    width: 12rem;
    height: 2.5rem;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
    text-align: center;
    margin-left: 5rem;
}

.PartituraBTN p
{
    position: absolute;
    top: 0.4em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #000000;
}

.PartituraBTN svg
{
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
}

.PartituraBTN:hover p
{
    left: 0.6em;
    color: #fff
}

.PartituraBTN:hover svg
{
    opacity: 1;
}

.PartituraBTN:hover
{
    background-color: #2a51bc;
}