.navbar-custom
{
    background-color: var(--color-primary);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0.8rem 1.5rem;

}

.navbar-custom::after
{
    content: "";
    position: absolute;
    top: 100%;
    /* Empieza justo donde termina el navbar */
    left: 0;
    width: 100%;
    height: 7px;
    /* Ajusta qué tan largo quieres el degradado */
    background: linear-gradient(to bottom,
            var(--color-primary) 0%,
            rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    /* Para que no interfiera con clics abajo */
}

/* Logo + título */
.navbar-title
{
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

/* Links */
.navbar-custom .nav-link
{
    color: var(--color-text-light);
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: color 0.2s ease;
}

.navbar-custom .nav-link:hover
{
    color: var(--color-secondary);
}

/* Link activo */
.navbar-custom .nav-link.active
{
    color: var(--color-secondary);
}

/* Toggler */
/* .navbar-custom .navbar-toggler
{
    border-color: var(--color-secondary);
} */

.navbar-custom .navbar-toggler-icon
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(245,196,0,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}