.home-carousel
{
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
}

.carousel-img
{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-img.active
{
    opacity: 1;
}

.carousel-overlay
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.15));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    padding: 1.5rem;
}

.carousel-overlay h1
{
    font-size: 3rem;
    font-weight: 600;
}

.carousel-overlay p
{
    font-size: 1.2rem;
    max-width: 600px;
}